.AlgoSelect {
    padding: 0.5em 0.84em;
    border:none;
    border:1px solid dodgerblue;
    color: rgb(30, 126, 223);
    border-radius: 5%;
    background: #fff url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwBAMAAAClLOS0AAAAElBMVEUAAAA7mcQ6l8U6mMU6mcU7mcV2nTSZAAAABXRSTlMAoGCQgFsu3a4AAABBSURBVDjLYxgFIxaIhkJBIJoEI0xCAEMLXAN2LQLYbEFowNQigM1hrqGhwVhdzBQaqoDdL6pBODzJpMAwCoYPAACHfhABrDCuTQAAAABJRU5ErkJggg==');
    background-repeat:no-repeat;
    background-position: right 2px top 50%;
    background-size: 20%;
    -moz-appearance: none;
    -webkit-appearance: none;
}