@import './Partials/optionbar';
@import './Partials/visualizer';
@import './Partials/data';
html, body, #root, .App {
    margin: 0;
    padding: 0;
    height: 100%;
}

.App {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}